<!-- Right Navigation LAPTOP -->
<div class="navbar-laptop-darktheme hidden-xs">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand", title: "Retour à l'accueil de la boutique de Fabienne Jacob" do %>
    <%= "#{ENV['FIRSTNAME']} #{ENV['LASTNAME'].capitalize}" %>
  <% end %>

  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>

    <!-- Navbar right when connected -->
    <div class="navbar-item-darktheme">
      <div class="nav-bar-list">
        <% if current_user.admin %>
          <%= link_to admin_root_path do %>
            <span>Administration</span>
          <% end %>
        <% end %>
        <%= link_to root_path, title: "Retour à l'accueil de la boutique de Fabienne Jacob", class: "hidden-sm" do %>
          <span>Accueil</span>
        <% end %>
        <%= link_to ceramiques_path, title: "Découvrez les bijoux en vente dans la boutique" do %>
          <span>Boutique</span>
        <% end %>

        <div class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
            Infos
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Où me trouver", agenda_path, title: "Agenda des expositions et lieu de vente pour retrouver Fabienne Jacob" %></li>
            <li><%= link_to "Témoignages", temoignages_path, title: "Les témoignages laissés par les clients du site" %></li>
            <li><%= link_to "Contact", contact_path, title: "Contactez Fabienne Jacob, elle vous répond personnellement."%></li>
          </ul>
        </div>

        <a href="#" id="darktheme-filter-search" title="Filtrez la liste des bijoux en vente dans la boutique"><i class="fa fa-search"></i>Filtrer</a>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <div class="lightcart"></div>
                <style>
                  .lightcart {
                    background-image: url(<%= image_path "whitecart.svg" %>);
                  }
                  .lightcart:hover {
                    background-image: url(<%= image_path "cart.svg" %>);
                  }
                  body:after {
                    display: none;
                    content: <%= image_path "cart.svg" %>;
                  }
                </style>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="navbar-item-darktheme">
      <div class="nav-bar-list">
        <%= link_to root_path, title: "Retour à l'accueil de la boutique de Fabienne Jacob", class: "hidden-sm" do %>
          <span>Accueil</span>
        <% end %>
        <%= link_to ceramiques_path, title: "Découvrez les bijoux en vente dans la boutique" do %>
          <span>Boutique</span>
        <% end %>

        <div class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
            Infos
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Où me trouver", agenda_path, title: "Agenda des expositions et lieu de vente pour retrouver Fabienne Jacob" %></li>
            <li><%= link_to "Témoignages", temoignages_path, title: "Les témoignages laissés par les clients du site" %></li>
            <li><%= link_to "Contact", contact_path, title: "Contactez Fabienne Jacob, elle vous répond personnellement."%></li>
          </ul>
        </div>

        <a href="#" id="darktheme-filter-search" title="Filtrez la liste des bijoux en vente dans la boutique"><i class="fa fa-search"></i>Filtrer</a>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

<!-- Right Navigation MOBILE -->
<div class="navbar-mobile-darktheme hidden-sm hidden-md hidden-lg">
 <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand-mobile" do %>
    <%= "#{ENV['FIRSTNAME'][0].capitalize} #{ENV['LASTNAME'][0].capitalize}" %>
  <% end %>

  <div class="navbar-item-darktheme">
    <div class="list-mobile">
      <%= link_to ceramiques_path, title: "Retour à l'accueil de notre offre de boutique ligne" do %>
        <span>Shop</span>
      <% end %>

      <div class="dropdown">
        <a class="dropdown-toggle" type="button" data-toggle="dropdown">
          Infos
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Où me trouver", agenda_path, title: "Agenda des expositions et lieu de vente pour retrouver Fabienne Jacob" %></li>
          <li><%= link_to "Témoignages", temoignages_path, title: "Les témoignages laissés par les clients du site" %></li>
          <li><%= link_to "Contact", contact_path, title: "Contactez Fabienne Jacob, elle vous répond personnellement."%></li>
        </ul>
      </div>

      <% if session[:order].present? %>
        <% if Order.where(id: session[:order]).present? %>
          <% if Order.where(id: session[:order]).first.state != "lost" %>
            <%= link_to order_path(Order.find(session[:order])) do %>
              <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
