<% content_for(:description) do %>
  Contactez Fabienne Jacob grâce au formulaire présent sur le site.
<% end %>
<% content_for(:title_tag) do %>
  Contactez Fabienne Jacob, créatrice de bijoux en céramique
<% end %>

<%= render 'shared/info_pics' %>

<div class="container">
  <div class="row">
     <div class="contact-coord">
      <div class="col-xs-12 coord">
        <% if user_signed_in? && current_user.admin %>
          <% article_typing("contact", "vertical", "markdown1", "live-text1", "input1") %>
          <% @markdown = @markdown1 %>
          <div class="live-text">
            <%= render 'shared/articletyping' %>
          </div>
        <% else %>
          <div class="plain-text">
            <% article_display("contact", "vertical") %>
            <%= @markdown.html_safe %>
            <div class="social-buttons-contact">
              <a class="twitter-share-button" href="#"><i class="fab fa-twitter-square"></i></a>
              <a id="facebook-contact" href="#"><i class="fab fa-facebook-square"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 contact-form">
      <%= render 'shared/subscribe_default' %>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "ArtGallery",
      "name": "Les <%="#{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>",
      "description": "Online craft store",
      "openingHours": "Mo-Fr 09:00-18:00",
      "telephone": "<%= ENV['TELEPHONE']%>",
      "url": "<%=request.original_url%>",
      "image":"<%=request.original_url%><%= image_path ENV['HOMEPIC']%>"
      "address":"<%= ENV['ADDRESS'].gsub(/[+]/, ' ') %>",
      "priceRange":"20€ à 800€"
    }
  </script>
 <% end %>
