<% content_for(:description) do %>
  Vente de bijoux artisanaux en céramique. Ma production se compose de bagues, colliers et boucles d'oreilles. Le décor est au platine, les fermoirs sont en argent.
<% end %>
<% content_for(:title_tag) do %>
  Acheter en ligne les bijoux en céramique de Fabienne Jacob.
<% end %>

<%= render 'shared/darktheme_home_pics' %>

<div class="jumbotron-darktheme">

<!-- LAPTOP -->
  <div class="hidden-xs">
    <div class="banner-darktheme">

      <div class="home-top-bloc">
        <div class="left-photo">
          <%= photo_update('darktheme1photo', 100, '', '', 30, '.darktheme1photo', "Mise à jour photo d'accueil 1")%>
           <style>
            .left-photo {
              background-image: url(<%= cl_image_path @darktheme1photopath, quality: "auto" %>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
            }
          </style>
        </div>
        <div class="right-text">
          <% if user_signed_in? && current_user.admin %>
              <% article_typing("accueil-top-left", "horizontal", "markdown1", "live-text1", "input1") %>
              <% @markdown = @markdown1 %>
              <div class="live-text">
                <%= render 'shared/articletyping' %>
              </div>
          <% else %>
            <div class="plain-text">
              <% article_display("accueil-top-left", "horizontal") %>
              <%= @markdown.html_safe %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="home-bottom-bloc">
        <div class="first-couple">
          <div class="left-text">
            <% if user_signed_in? && current_user.admin %>
              <% article_typing("accueil-bottom-right", "vertical", "markdown2", "live-text2", "input2") %>
              <% @markdown = @markdown2 %>
              <div class="live-text">
                <%= render 'shared/articletyping' %>
              </div>
            <% else %>
              <div class="plain-text">
                <% article_display("accueil-bottom-right", "vertical") %>
                <%= @markdown.html_safe %>
              </div>
            <% end %>
          </div>
          <div class="right-photo">
            <div class="photo-background">
              <%= photo_update('darktheme2photo', 100, '', '', 30, '.darktheme2photo', "Mise à jour photo d'accueil 2")%>
              <style>
                .photo-background {
                  background-image: url(<%= @darktheme2photopath %>);
                  background-size: cover;
                  background-position-y: center;
                  background-position-x: center;
                }
              </style>
            </div>
          </div>
        </div>

        <div class="second-couple">
          <div class="left-photo-home">
            <div class="photo-background-2">
              <%= photo_update('darktheme3photo', '', '', '', 30, '.darktheme3photo', "Mise à jour photo d'accueil 3")%>
              <style>
                .photo-background-2 {
                  background-image: url(<%= @darktheme3photopath %>);
                  background-size: cover;
                  background-position-y: center;
                  background-position-x: center;
                }
              </style>
            </div>
            <div class="bottom-bloc">
              <div class="home-links">
                <%= link_to "VOIR LES BOUCLES D'OREILLES", ceramiques_path(categories: ["boucle d'oreille", "boucles d'oreilles", "boucles d'oreille", "boucle d'oreilles"]), title: "découvrir les boucles d'oreilles en vente sur le site" %>
                <%= link_to "VOIR LES BAGUES", ceramiques_path(categories: ["bague", "bagues"]), title: "découvrir les bagues en vente sur le site" %>
                <%= link_to "VOIR LES COLLIERS", ceramiques_path(categories: ["collier", "colliers"]), title: "découvrir les colliers en vente sur le site" %>
              </div>
              <div class="photo-background-3">
                <%= photo_update('darktheme4photo', '', 1, 100, '', '.darktheme4photo', "Mise à jour photo d'accueil 4")%>
                <style>
                  .photo-background-3 {
                    background-image: url(<%= @darktheme4photopath %>);
                    background-size: cover;
                    background-position-y: center;
                    background-position-x: center;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="right-text">
            <% if user_signed_in? && current_user.admin %>
              <% article_typing("accueil-final", "vertical", "markdown3", "live-text3", "input3") %>
              <% @markdown = @markdown3 %>
              <div class="live-text">
                <%= render 'shared/articletyping' %>
              </div>
            <% else %>
              <div class="plain-text">
                <% article_display("accueil-final", "vertical") %>
                <%= @markdown.html_safe %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>

<!-- MOBILE -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div class="banner-xs-darktheme">
      <%= cl_image_tag @darktheme1photopath, alt: "Bague en céramique décor au platine", class: "mobile-image-1" %>
       <div class="plain-text">
        <% article_display("accueil-top-left", "horizontal") %>
        <%= @markdown.html_safe %>
      </div>
      <div class="photo3"><%= cl_image_tag @darktheme2photopath, alt: "Bague en céramique avec émail vert", class: "mobile-image-2"%></div>
      <div class="photo4"><%= cl_image_tag @darktheme3photopath, alt: "Boucles d'oreilles en céramiques, attaches en argent", class: "mobile-image-3"%></div>
       <div class="plain-text">
        <% article_display("accueil-bottom-right", "horizontal") %>
        <%= @markdown.html_safe %>
      </div>
      <%= cl_image_tag @darktheme4photopath, alt: "Collier en céramique avec décor au platine", class: "mobile-image-4"%>
      <div class="plain-text">
        <% article_display("accueil-final", "vertical") %>
        <%= @markdown.html_safe %>
      </div>
    </div>
  </div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "image": ["<%=request.original_url%><%= image_path ENV['HOMEPIC']%>"],
    "@id": "<%=request.original_url%>",
    "name": "Les bijoux en céramique de Fabienne Jacob",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Keraudran",
      "addressLocality": "PLOEMEL",
      "addressRegion": "Morbihan",
      "postalCode": "56400",
      "addressCountry": "FR"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": <%= ENV['LAT'].to_f %>,
      "longitude": <%= ENV['LAT'].to_f %>
    },
    "url": "<%=request.original_url%>",
    "telephone": "+33699249538",
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "10:00",
        "closes": "17:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Saturday","Sunday"],
        "opens": "closed",
        "closes": "closed"
      }
    ],
   "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
